body {
  background-color: #94B49F;
}

h1{
  color: #2C3639;
}

h3{
color: #371B58;

}
img {
  height: 200px;
}
hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width:6px;
  width:10%;
  height: 2px;
}
